// ========================================================

// # Tooltip

// ========================================================

// ========================================================
// Base
// ========================================================

a {
    &:hover, &:focus {
        text-decoration: none;
    }
}

em {
    font-style: initial;
}

// ========================================================
// Components
// ========================================================

// Wrapper
.wrapper {
    height: 100%;
    width: 100%;
    display: table;
}

// Container
.container__center {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

