---
title: 001 - Typesetting—Font-size, Leading and Measure
url: 001-typesetting.html
---
<link rel="stylesheet" type="text/css" href="./styles/pages/001-typesetting.css"/>

<section class="wrapper">
    <div class="container">
        <article>
            <h1>Lorem ipsum dolor sit amet.</h1>
            <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate, delectus.</h2>

            <h3>Lorem ipsum dolor sit amet.</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum omnis quam deserunt animi minima. Dolore perferendis consequatur impedit accusantium id neque sunt repudiandae optio, veniam nihil cum, numquam atque enim qui est, ea beatae mollitia libero explicabo, quos. Beatae enim, quisquam numquam, ducimus ex nemo! Dignissimos debitis nobis excepturi ratione explicabo, pariatur dicta, asperiores deleniti, hic, rem possimus earum quisquam tenetur impedit voluptates nam similique fuga. Tenetur cumque ea earum, ipsam odit, dolore numquam consectetur et eveniet velit laboriosam quae dolorem tempore non! Officia vero natus accusamus cumque! Nisi nemo soluta sequi sit at totam iste dolorum nam, suscipit impedit!</p>

            <h3>Lorem ipsum dolor sit amet.</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio repudiandae voluptatum distinctio, suscipit qui veniam officia animi, laudantium repellendus tenetur dolores aliquid vitae fugiat error quidem quos, placeat numquam provident?</p>
        </article>
    </div>
</section>
