---
title:
url: index.html
css: ./styles/pages/
---

<div class="container-block">
    <ul >
      {{#each  pages }}
        <li> <a  href ="{{data.url}}" > {{data.title }} </a> </li>
      {{/each  }}
    </ul >
</div>

